<?xml version="1.0"?>
 
<configuration>
    <system.webServer>
        <staticContent>
            <!-- Define JSON Mime Type (could be used for Images or Fonts) -->   
            <remove fileExtension=".svg" />
            <mimeMap fileExtension=".json" mimeType="application/json" />

            <!-- Remove any potential Web Server Settings for Web Fonts to be used -->
            <remove fileExtension=".eot" />
            <remove fileExtension=".otf" />
            <remove fileExtension=".ttf" />
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />

            <!-- Define Web Font Mime Types that will be used -->
            <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
            <mimeMap fileExtension=".otf" mimeType="application/x-font-opentype" />
            <mimeMap fileExtension=".ttf" mimeType="application/x-font-truetype" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
     </staticContent>
    </system.webServer>
</configuration> 